<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HttpErrors</key>
	<dict>
		<key>1</key>
		<string>非合法的传入参数</string>
		<key>2</key>
		<string>密码不正确</string>
		<key>3</key>
		<string>不存在用户名</string>
		<key>5</key>
		<string>该手机号还未注册</string>
		<key>4</key>
		<string>验证码不正确或过期</string>
		<key>6</key>
		<string>登录过期,请重新登录</string>
		<key>7</key>
		<string>非法签名</string>
		<key>8</key>
		<string>无效Token,请重新登录</string>
		<key>9</key>
		<string>请求验证码过于频繁</string>
		<key>10</key>
		<string>号码解密失败</string>
		<key>30101</key>
		<string>用户账户余额不足,请使用其它收款方式!</string>
		<key>30001</key>
		<string>没有找到相关信息</string>
	</dict>
</dict>
</plist>
